@main_color: #96f1c5;
@secondary_color: #1d1e18;
@third_color: rgb(202, 70, 220);
@reg_text:whitesmoke;
@main_gradient: linear-gradient(90deg, @secondary_color, 
                            @main_color,@secondary_color);
@third_gradient: linear-gradient(90deg, @secondary_color, 
                            @third_color,@secondary_color);

html{
    height:100%;
    body{
        height:100%;
        display:flex;
        flex-direction: column;
        background-color: @main_color;
        color: @secondary_color;
        .nav-link{
            color: @main_color;
            &:hover{
                color: @third_color;
            }
        }
        .btn_normal{
            border-radius: 5px;
            color: @secondary_color;
            background-color: @main_color;
            &:hover{
                color:@main_color;
                background-color:@third_color;
            }
        }
        .btn_outline{
            border-radius: 5px;
            border-color: @main_color;
            background-color: transparent;
            color: @main_color;
            &:hover{
                color:@third_color;
                border-color:@third_color;
            }
        }
        .btn_sidebar{
            border-radius: 5px;
            height: 30px;
            width: 20%;
        }
        header{
            background-color: @secondary_color;
            .container-fluid{
                .logo{
                    height:50px;
                    width: 50px;
                    img{
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }
                .selected{
                    border-bottom: 3px solid transparent; 
                    border-image: @third_gradient;
                    border-image-slice: 1;
                    color: @third_color;
                    .nav-link{
                        color: @third_color;
                    }
                }  
                .basket{
                    position:relative;
                    height:30px;
                    color:@reg_text;
                    &:hover{
                        color: @third_color;
                        .check{
                            background-color:@secondary_color;
                            color:@third_color;
                            border: 2px solid @third_color;
                        }
                    }
                }
                .bselected{
                    color: @third_color !important;
                    .check{
                        background-color:@secondary_color;
                        color:@third_color;
                        border: 2px solid @third_color;
                    }
                }
                .check{
                    display: flex;
                    background-color: @main_color;
                    color:@secondary_color;
                    justify-content: center;
                    text-align: center;
                    align-items: center;
                    border-radius: 50%;
                    width: 20px;
                    height: 20px;
                    margin-top:-30px;
                    margin-left: 20px;
                    font-size: 12px;
                }
            }

        }
        main{
            overflow: auto;
            padding-bottom: 0px;
            height: 100%;
            .infobody{
                position: relative;
                display: flex;
                flex-wrap: nowrap;
                flex-direction: row;
                height: 100%;
                width: 100%;
                aside{
                    height:100%;
                    .list-unstyled{
                        display:block;
                        height: auto;
                        max-height: 100%;
                        overflow-y:none;
                    }
                    .sidbr{
                        height:100%;
                        width:250px;
                        background-color: @secondary_color;
                        color:@main_color;
                        .option{
                            position:relative;
                            display:flex;
                            flex-direction: row;
                            height:30px;
                            justify-content: left;
                            align-items: center;
                        }
                        .selected{
                            color:@third_color;
                            border-color:@third_color;
                        }
                        .catFiltres{
                            border-bottom: 3px solid transparent; 
                            border-image: @main_gradient;
                            border-image-slice: 1;
                            padding-bottom:10px;
                            margin-bottom: 10px;
                            max-height: 50%;
                            width:90%;
                            overflow-y: scroll;
                            #filtreCataleg{
                                display:flex;
                                flex-wrap: wrap;
                                color:@main_color;
                                font-weight: bolder;
                                height:auto;
                                width:90%;
                                .filtre{
                                    width: 100%;
                                    color:@reg_text;
                                    background-color: @secondary_color;;
                                    border-color: @main_color;
                                    border-radius: 6px;
                                    &:hover{
                                        border-color:@third_color;
                                    }
                                }
                                .filtrebox{
                                    border: 1px solid @main_color;
                                    border-radius: 6px;
                                    margin:5px;
                                    width:100%;
                                    .tallesfiltre{
                                        width:93%;
                                        display:flex;
                                        flex-wrap: wrap;
                                        flex-direction: row;
                                        justify-content: center;
                                        align-items: center;
                                        padding-left:10px;
                                    }

                                }
                                .chkbutton{
                                    display:inline-block;
                                    width:25px;
                                    height:auto;
                                    text-align: center;
                                }
                                input:checked + .chkbutton {
                                    background-color: @main_color;
                                    color:@secondary_color;
                                }
                                .btnfiltre{
                                    width:100%;
                                }

                            }
                        }
                        h5, h4, h3, h2{
                            display:block;
                            margin:0px;
                        }
                    }
                }
                section{
                    display:flex;
                    flex-direction: column;
                    height:100%;
                    width:100%;
                    #breadcrumb-div{
                        width:100%;
                        height:40px;
                        display:flex;
                        background-color: @third_color;
                        padding:5px;
                        .breadcrumb-item{
                            color:@reg_text !important;
                        }
                        a{
                            color:@main_color;
                            &:hover{
                                color:@secondary_color;
                            }
                        }
                        
                    }
                    .prodcat{
                        padding:2%;
                        height:100%;
                        overflow-x: scroll;
                        scrollbar-color: @reg_text @secondary_color;
                        position: relative;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content:flex-start;
                        .dtoinfo{
                            background-color: @third_color;
                            height:30px;
                            width:90px;
                            border-radius: 5px;
                            text-align: center;
                            color:@reg_text;
                            span{
                                display: block;
                                margin-left: auto;
                                margin-right: auto;
                            }
                        }
                    }
                }
            }
            .formul{
                height:500px;
                width: 60%;
                color:@reg_text;
                margin: 5% auto;
                display:flex;
                flex-direction: row;
                border-radius: 8px;
                background-color: @secondary_color;
                box-shadow: 0 0 30px rgba(0, 0, 0, 1);
                h1{
                    color:@main_color;
                }
                .form_info{
                    p{
                        display:flex;
                        flex-direction: column;
                    }
                }
                .line{
                    background-color:@third_color;
                }
            }
            .productevista{
                border:5px solid @third_color;
                border-radius: 10px;
                background-color: @reg_text;
                padding:10px;
                .product-image {
                    max-height: 400px;
                    object-fit: cover;
                }
                .thumbnail {
                    width: 20%;
                    height:20% ;
                    object-fit: cover;
                    cursor: pointer;
                    opacity: 0.6;
                    transition: opacity 0.3s ease;
                }
                .thumbnail:hover, .thumbnail.active {
                    opacity: 1;
                }
                .close{
                    margin-top:5px;
                    margin-right:5px;
                }
            }

        }
        .ftr{
            background-color: @secondary_color;
            color:@main_color;
            img{
                width: 30px;
                height: 30px;
            }
        }
    }
}
@media screen and (max-width: 760px){
    html{
        body{
            header{
                .container{
                    .logo{
                        height:40px;
                        width: 40px;
                        img{
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }   
        }
    }
}
@media screen and (max-width: 500px){
    html{
        body{
            main{
                .infobody{
                    aside{
                        .sidbr{
                            position: absolute;
                            z-index:1 ;
                        }
                    }
                }
            }
        }
    }
}