{% load static %}
{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>{{ title }}</title>
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <link href="{% static 'img/logo.png' %}" rel="icon" type="image/png">
      <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
      {% bootstrap_css %}
      {% bootstrap_javascript %}
  </head>
  <body>
    {% include 'navbar.html' %}
    {% include 'sections/login.html' %}
    <main class="container-fluid p-0">
      {% block content %}
      {% endblock %}
    </main>
    {% if 'logerr' in request.session %}
      <script>
        activarModal();
      </script>
    {% endif %}
    {% include 'footer.html' %}
  </body>
</html>