{% load static %}
<div class="ftr d-flex justify-content-center align-items-center">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-1 my-3 col-6">
      <div class="col-md-6 d-flex align-items-center col-6">
        <img class="bi mb-2 me-2 mb-md-0" src="{% static 'img/logo.png' %}">
        <span class="mb-2 mb-md-0 text-body-secondary">© Maldonado Vivancos, Cristian</span>
      </div>
  
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
        <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
        <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
      </ul>
    </footer>
  </div>