{% load static %}
<header class="p-2 text-bg-dark">
    <div class="container-fluid justify-content-between">
      <div class="navigator d-flex flex-wrap align-items-center justify-content-between ">
        {% if request.session.page == 'cataleg' %}
        <div class="order-0 order-md-0 col-2 mb-3 mb-lg-0">
          <button id="hidesidebar" class="btn_outline" onClick='hideFiltres("sidebar");'>☰</button>
        </div>
        {% endif %}
        <div class="logo order-1 order-sm-0">
          <img src="{% static 'img/logo.png' %}">
        </div>
        <ul class="nav col-5 col-sm-3 me-sm-auto mb-2 justify-content-start  order-2 order-sm-0">
          <li {% if request.session.page == 'cataleg' %} class="selected" {% endif %}>
            <a href="{% url 'cataleg' %}" class="nav-link">Catàleg</a>
          </li>
          {% if 'login' in request.session and request.session.login.id != 0 %}
          <li {% if request.session.page == 'usuari' %} class="selected" {% endif %}>
            <a href="{% url 'usuari' %}" class="nav-link">{{request.session.login.nom}}</a>
          </li>
          {% endif %}
        </ul>
        {% if 'login' not in request.session or request.session.login.id == 0  %}
        <!--si no ho está menú de login-->
        <div class="text-end col-2 col-sm-4 mb-0 order-3 order-sm-0 d-flex flex-wrap align-items-center align-items-sm-end justify-content-end ">
          <button type="button" class="btn btn_normal" data-bs-toggle="modal" data-bs-target="#login">Login</button>
          <!-- <a class="btn btn_normal" href="{% url 'registrat' %}">Sign-up</a> -->
        </div>
        {% else %}
        <div class="text-end col-2 col-sm-4 mb-0 order-3 order-sm-0 d-flex flex-wrap align-items-center align-items-sm-end justify-content-end ">
          <button type="button" class="btn btn_outline" onclick="location.href='{% url 'logoff' %}'">Logoff</button>
        </div>
        {% endif %}
        <!--cistella de la comrpa-->
        <a href="{% url 'cistella' %}" class="col-1 nav-link mb-0 me-sm-3 me-2 order-5 order-sm-0">
          <div id="divCistella" class="{% if request.session.page == 'shopping' %}bselected {% else %}basket{% endif %}">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-basket3-fill" viewBox="0 0 16 16">
              <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-1A.5.5 0 0 1 .5 6h1.717L5.07 1.243a.5.5 0 0 1 .686-.172zM2.468 15.426.943 9h14.114l-1.525 6.426a.75.75 0 0 1-.729.574H3.197a.75.75 0 0 1-.73-.574z"/>
            </svg>
            {% if 'cistella' in request.session and request.session.cistella.qty != 0 %}
              <div id='cistella' class="check position-absolute">{{ request.session.cistella.qty }}</div>
            {% endif %}
          </div>
        </a>
      </div>
    </div>
  </header>