{% extends 'base.html' %}
{% block content %}
<div class="infobody">
    <aside>
        {% include 'sections/sidebar.html' %}
    </aside>
    <section>
        <h2 class="ms-4"> Popular Products </h2>
        <div id="prodcat" class="prodcat">
            <script>
                {% for p in productes %}
                    var product={
                        "id":"{{p.id}}",
                        "prod":"{{p.prod.nom}}",
                        "prodId":"{{p.prod.id}}",
                        "var":"{{p.nom}}",
                        "preu":"{{p.preu}}",
                        "dto":"{{p.dto}}",
                        "descr":"{{p.prod.descripcio}}",
                    };
                    createProductCard(product);
                {% endfor %}
            </script>

        </div>
    </section>
</div>
{% endblock %}