{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="infobody">
    <aside>
        {% include 'sections/sidebar.html' %}
    </aside>
    
    <section>
        <!--braedcrumb-->
        <div id="breadcrumb-div" class="sticky-top">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    {% if jerarquia|length == 0 %}
                        <li class="breadcrumb-item">Home</li>
                    {% else %}
                        <li class="breadcrumb-item"><a href="/cataleg/0">Home</a></li>
                        {% for j in jerarquia %}
                            {% if j.nom != request.session.catSel.nom %}
                                <li class="breadcrumb-item active" aria-current="page"><a href="/cataleg/{{j.id}}">{{j.nom}}</a></li>
                            {% else %}
                                <li class="breadcrumb-item active" aria-current="page">{{j.nom}}</li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </ol>
            </nav>
        </div>
        <!--llistat de productes-->
        <div id="prodcat">
            {% include 'sections/llistatProductes.html' %}
        </div>
    </section>
</div>
{% endblock %}