{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container col-9 d-flex flex-row mt-3">
    <div class="position-relative d-flex flex-column flex-lg-row productevista justify-content-evenly align-items-center">
        <!--Tancar finestra-->
        <div class="close d-flex position-absolute top-0 end-0">
            <a href="/" class="btn btn_normal">X</a>
        </div>
        <!-- Product Images -->
        <div id="imgPrincipal" class="col-10 col-md-8 col-lg-5 mb-3 align-items-center">
            <img id="imgGran" src="{% static prod.0.imatges_set.all.0.url %}" alt="Product" class="img-fluid rounded mb-3 product-image" id="mainImage">
            <div id="imgProd" class="d-flex justify-content-between">
                {% for img in prod.0.imatges_set.all%}
                <img src="{% static img.url %}" class="thumbnail rounded active" onmouseenter="setImage(event, this.src)">
                {% endfor %}
            </div>
        </div>
        <!-- Product Details -->
        <div class="col-10 col-md-8 col-lg-5 ">
            <p id="variantID" hidden>{{prod.0.id}}</p>
            <h2 class="mb-1">{{prod.0.prod.nom}}</h2>
            <p id="model" class="text-muted mb-1"><b>Model: </b>{{prod.0.nom}}</p>
            <p class="text-muted mb-2"><b>Marca: </b>{{prod.0.prod.marca}}</p>
            <div id="preuSection" class="mb-2 d-flex flex-row align-items-end">
                {% if prod.0.dto == 0 %}
                <div>
                    <span class="h4">Preu: </span>
                    <span id="preuvar" class="text-muted">{{prod.0.preu}}€</span>
                </div>
                {%else%}
                <div>
                    <span class="h4">Preu: </span>
                    <span id="preuvar" class="text-muted">{{prod.0.preu_dto}}€ <s>{{prod.0.preu}}€</s></span>
                </div>
                <div class="ps-4">
                    <span class="h5">Dto: </span>
                    <span id="dtovar" class="text-muted">-{% widthratio prod.0.dto 1 100 %}%</span>
                </div>
                {% endif %}
            </div>
            <p class="mb-2">{{prod.0.prod.descripcio}}</p>
            <!--Seccio Variants-->
            <div class="mb-2">
                <h5>Variants:</h5>
                <div class="d-flex col-8">
                    {% for p in prod%}
                        <img id="{{ p.id }}" src="{% static p.imatges_set.all.0.url %}" alt="Thumbnail 1" class="thumbnail rounded me-3" onclick="changeVariant(event, this.src)">  
                    {% endfor %}
                </div>
            </div>
            <!--Seccio quantitats i talles-->
            <div class="mb-2 d-flex flex-row">
                <div class="me-4">
                    <label for="sTalles" class="form-label">Talla:</label>
                    <select id="sTalles" class="form-control" onchange="activaBotoCarro()">
                        <option value="0"> - </option>
                    {% for talla_variant in prod.0.tallavariant_set.all %}
                        <option value="{{talla_variant.id}}" {% if talla_variant.qty == 0 %} disabled {% endif %}>{{talla_variant.talla.nom}} (Max Uds: {{talla_variant.qty}})</option>
                    {% endfor %}
                    </select>
                </div>
                <div>
                    <div class="d-flex flex-column mb-4">
                        <label for="sQty" class="form-label">Quantity:</label>
                        <div class="d-flex flex-row">
                            <button data-mdb-button-init data-mdb-ripple-init class="incrdcr btn btn_normal px-3 me-2"
                            onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                            -
                            </button>
                            <input id="sQty" min="1" name="quantity" value="1" type="number" class="form-control" disabled/>
                            <button data-mdb-button-init data-mdb-ripple-init class="incrdcr btn btn_normal px-3 ms-2"
                            onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                            +
                            </button>
                        </div>

                    </div>
                </div>
            </div>
            <button id="addCart" class="btn btn_normal mb-3 me-2" onClick='cistella(1);' disabled>
                <i class="bi bi-cart-plus"></i> Add to Cart
            </button>
        </div>
    </div>
</div>
<script>
    activaBotoCarro();
</script>
{% endblock %}