{% load static %}
{% for p in productes %}
<div id="{{p.id}}" class="p-1">
    <div class="card">
        <div id="dto-{{p.id}}" class="dtoinfo 
                {% if p.variant_set.all.0.dto == 0 %}
                    d-none 
                {% else %}
                    d-flex
                {% endif %}
                position-absolute top-0 start-0">
            <span>-{% widthratio p.variant_set.all.0.dto 1 100 %}% dto.</span>
        </div>
        <img id="imgtop-{{p.id}}" class="card-img-top" alt="Product Image" src="{% static p.variant_set.all.0.imatges_set.all.0.url %}">
        <div class="card-body ">
            <p class="card-title crd_nm">{{p.nom}}</p>
            <p class="card-title"><b>Marca:</b> {{p.marca}}</p>
            <div id="options-{{p.id}}" class="d-flex flex-column">
                <div id="preu-{{p.id}}">
                    {% if p.variant_set.all.0.dto > 0 %}
                        <b>Preu:</b> {{p.variant_set.all.0.preu_dto}}€
                        <s>{{p.variant_set.all.0.preu}}€</s>
                    {% else %}
                        <b>Preu:</b> {{p.variant_set.all.0.preu}}€
                    {% endif %}
                </div>
            </div>
        </div>
        <div id="prodVariants-{{p.id}}" class="d-flex flex-row align-items-start ps-2">
        {% for v in p.variant_set.all%}
            <img id="{{p.id}}-{{v.id}}" class="col-2 m-1 
            {% if v.id == p.variant_set.all.0.id %} imgSel {% endif %}" 
            alt="{{v.preu}}-{{v.dto}}_{{v.id}}" src="{% static v.imatges_set.all.0.url %}" 
            onclick="showVariant(event, this.src)">
        {% endfor%}
        </div>  
        <div id="foot-{{p.id}}" class="card-footer d-flex justify-content-between bg-light">
            <a id="btn-{{p.id}}" class="btn btn_normal btn-sm" href="/info/{{p.variant_set.all.0.id}}">Veure</a>                    
        </div>                
    </div>
</div>
{% endfor %}

