{% load static %}

<div class="prodcat row row-cols-2 row-cols-sm-3 row-cols-lg-4 row-cols-xxl-5">
{% for p in productes %}
    <div id="{{p.id}}">
        <div class="card">
            <div id="dto-{{p.id}}" class="dtoinfo 
                    {% if p.variant_set.all.0.dto == 0 %}
                        d-none 
                    {% else %}
                        d-flex
                    {% endif %}
                    position-absolute top-0 start-0">
                <span>-{% widthratio p.variant_set.all.0.dto 1 100 %}% dto.</span>
            </div>
            <a id="btn-{{p.id}}" class="btn-sm" href="/info/{{p.variant_set.all.0.id}}">
                <img id="imgtop-{{p.id}}" class="card-img-top" alt="Product Image" src="{% static p.variant_set.all.0.imatges_set.all.0.url %}">
            </a>
            <div class="card-body ">
                <p class="card-title crd_nm m-0">{{p.nom}}</p>
                <p class="card-title m-0"><b>Marca:</b> {{p.marca}}</p>
                <div id="options-{{p.id}}" class="d-flex flex-column m-0">
                    <div id="preu-{{p.id}}">
                        {% if p.variant_set.all.0.dto > 0 %}
                            <b>Preu:</b> {{p.variant_set.all.0.preu_dto}}€
                            <s>{{p.variant_set.all.0.preu}}€</s>
                        {% else %}
                            <b>Preu:</b> {{p.variant_set.all.0.preu}}€
                        {% endif %}
                    </div>
                </div>
            </div>
            <div id="prodVariants-{{p.id}}" class="d-flex flex-row align-items-start p-1 m-0 ">
            {% for v in p.variant_set.all%}
                <img id="{{p.id}}-{{v.id}}" class="col-2 m-1 
                {% if v.id == p.variant_set.all.0.id %} imgSel {% endif %}" 
                alt="{{v.preu}}-{{v.dto}}_{{v.id}}" src="{% static v.imatges_set.all.0.url %}" 
                onmouseenter="showVariant(event, this.src)">
            {% endfor%}
            </div>                
        </div>
    </div>
{% endfor %}
</div>
<div class="pagination ms-2 align-items-center d-flex justify-content-center">
    <span class="step-links navigation ">
        <span class="current">
            Page {{ productes.number }} of {{ productes.paginator.num_pages }}
        </span>
        {% if productes.has_previous %}
            <a href="?page=1" class="page-item" class="page-item">&laquo; first</a>
            <a href="?page={{ productes.previous_page_number }}" class="page-item">previous</a>
        {% endif %}
        {% if productes.has_next %}
            <a href="?page={{ productes.next_page_number }}" class="page-item">next</a>
            <a href="?page={{ productes.paginator.num_pages }}" class="page-item">last &raquo;</a>
        {% endif %}
    </span>
</div>

