{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id="breadcrumb-div" class="position-sticky fixed-top">
  <nav aria-label="breadcrumb">
      <ol class="breadcrumb ms-4">
          <li class="breadcrumb-item"><a href="{% url 'cistella' %}">1. Cistell</a></li>
          <li class="breadcrumb-item">2. Pagament</li>
      </ol>
  </nav>
</div>
<section id="shoppingCart" class="h-100 h-custom">
  <div>
    <div id="pagamentSection" class="row d-flex justify-content-center h-100">
      <div class="col-11 col-lg-10 col-xl-8">
        <!-- resum de compra -->
        <div id="resum" class="col-11 col-sm-9 col-md-7 col-lg-6 payment order-1 order-md-0">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="secondaryText">Resum compra</span>
            <span class="badge bgSecondary rounded-pill">{{request.session.cistella.qty}}</span>
          </h4>
          <strong>
            <ul class="list-group mb-3">
              <li class="list-group-item d-flex justify-content-between lh-sm">
                <span class="my-0">Total a pagar:</span>
                <span class="text-muted">{{request.session.fra.totalFra|floatformat:2}}€</span>
              </li>
              <li class="list-group-item d-flex justify-content-between lh-sm">
                <span class="my-0">Enviament Seleccionat:</span>
                <span class="text-muted">{{enviament.nom}}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between lh-sm">
                <span class="my-0">Dies entrega:</span>
                <span class="text-muted">Entre {{enviament.dies_min}} i {{enviament.dies_max}} dia/es</span>
              </li>
            </ul>
          </strong>
        </div>
        <center>
          <span id="pagamentErr" style="color:red;"></span>
        </center>
        <!-- Informacio targeta y usuari -->
        <div id="pagament" class="d-flex flex-row flex-wrap col-12">
          <!-- informació usuari -->
          <div id="infoUsuari" class="col-12 col-md-7 d-flex justify-content-center flex-wrap">
            <h4 class="mb-3 secondaryText">Direcció de facturació i enviament</h4>
            <div class="row g-3">
              {% include 'sections/informacioClient.html' %}
              <hr class="my-4 d-md-none">
            </div>
          </div>
          <!-- Tarjeta -->
          <div id="Tarjeta" class="col-12 col-md-5 col-lg-5">
            <div id="infotarjeta" class=" d-flex justify-content-center align-items-start">
              <div class="col-8 col-md-10">
                <div>
                  <h4 class="thirdText mb-0">Informació de tarjeta</h4>
                </div>
                <!-- informació pagament -->
                <div class="form-outline form-white mb-2">
                  <label class="form-label" for="tarjetaNom">Nom </label>
                  <input type="text" id="tarjetaNom" class="form-control form-control-md" siez="17"
                    value="{{user.nom}} {{user.cognom}} {{ user.cognom2 }}" onfocusout="verifyNom()"/>
                    <span id="tarjetaNomErr" class="err"></span>
                </div>
                <div class="form-outline form-white mb-2">
                  <label class="form-label" for="numTarj">Numero de tarjeta</label>
                  <div class="d-flex flex-row">
                    <div>
                      <input type="text" id="numTarj" class="form-control form-control-md" siez="17"
                      placeholder="1234 5678 9012 3457" minlength="19" maxlength="19" onfocusout="verifyTarjeta()"/>
                    </div>
                    <div class="d-flex justify-content-center align-items-center ms-2">
                      <img id="tarjeta" class="me-2" width="45px" src="" />
                    </div>
                  </div>
                  <span id="tarErr" class="err"></span>
                </div>
                <div class="row mb-2">
                  <div class="col-6">
                      <label class="form-label" for="caducitat">Caducitat</label>
                      <input type="text" id="caducitat" class="form-control form-control-md"
                        placeholder="MM/YYYY" size="7" id="exp" minlength="7" maxlength="7"  onfocusout="verifyCaducitat()"/>
                      <span id="cadErr" class="err"></span>
                  </div>
                  <div class="col-6">
                      <label class="form-label" for="cvv">CVV</label>
                      <input type="password" id="cvv" class="form-control form-control-md"
                        placeholder="&#9679;&#9679;&#9679;" size="1" minlength="3" maxlength="3" onfocusout="verifyCvv()"/>
                      <span id="cvvErr" class="err"></span>
                  </div>
                </div>
                <div class="container d-flex justify-content-center">
                  <button type="button" class="btn btn_normal2 bt-xl mt-2 mb-2" 
                  onclick="callPagament()">
                    Efectuar pagament
                  </button>
                </div>
              </div>
            </div> 
          </div>
      </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}