<div class="sidbr p-3 ">
  <ul class="list-unstyled ps-0">
    <li id="li-None" class="mb-1">
      <div id="div-None" class="option">
        <button id="None" class="btn_sidebar btn_outline" data-bs-toggle="collapse" data-bs-target="#None-collapse" aria-expanded="false">
          ★
        </button>
        <a href="{% url 'cataleg' %}" class="nav-link">All</a>
      </div>
    </li>
  </ul>
</div>
<script type="text/javascript">
  {% for c in categories %}
  var categ={
                  "jq":"{{c.jerarquia}}",
                  "nm":"{{c.nom}}",
                  "count":"{{c.count}}",
                  "id":"{{c.id}}"
              };
    createElements(categ);
  {% endfor %}
  addFunctiontoButtons();
</script>